@import "../node_modules/bootstrap/scss/_variables";
@import "../node_modules/bootstrap/scss/_mixins";

body {
  background-color: #F9F2E7;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(http://i.imgur.com/uR2Uq0D.jpg);
  @include media-breakpoint-down(sm) {
    background-size: cover;
  }
}

.controls {
  margin-top: 70px;
  a {
    font-size: 38px;
  }
}
.headline {
  text-align: center;
}

h1 {
  font-size: 180px;
  font-weight: normal;
  @include media-breakpoint-down(lg) {
    font-size: 120px;
  }
  @include media-breakpoint-down(sm) {
    font-size: 65px;
  }
}
